@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookZone Online Bookstore</h1>
    <p>
        Welcome to Bookzone, your one-stop-shop for all things books! We are thrilled to have you here. 
        Whether you’re a bookworm, a casual reader, or just looking for a gift, we’ve got you covered.

        At Bookzone, we believe that reading is an adventure that everyone should experience. 
        That’s why we offer an extensive collection of books in various genres, including fiction, non-fiction, romance, mystery, and more. 
        Our books are carefully curated to cater to all age groups and reading levels.

        We understand that shopping for books can be overwhelming at times. That’s why we’ve made it easy for you to find your next read. 
        Our website is user-friendly and intuitive, allowing you to browse through our collection with ease. You can search for books by title, author, genre, or even by keywords.

        At Bookzone, we value our customers and strive to provide the best possible service. 
        
        We offer free shipping on all orders over $50 and hassle-free returns. Our customer support team is available 24/7 to assist you with any queries or concerns.

        We also offer a loyalty program that rewards our customers with exclusive discounts and offers. Sign up today to start earning points and save on your next purchase.

        Thank you for choosing Bookzone as your go-to online bookstore. We hope you enjoy your shopping experience with us!
    </p>
</div>
