@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
        Welcome to BookZone. This privacy policy explains how we collect, use, and protect your personal information when you visit our website or purchase our products.

    Information We Collect
    We collect personal information such as your name, email address, phone number, and shipping address when you create an account or place an order on our website. We also collect information about your browsing behavior and device type using cookies and similar technologies.

    How We Use Your Information
    We use your personal information to process your orders, communicate with you about your orders, and provide customer support. We also use your information to personalize your experience on our website and improve our products and services.

    How We Share Your Information
    We do not sell or rent your personal information to third parties. However, we may share your information with third-party service providers who help us operate our business or provide services to you. For example, we may share your shipping address with a courier company to deliver your order.

    How We Protect Your Information
    We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. We use industry-standard security technologies such as SSL encryption to protect your data during transmission.

    Your Rights
    You have the right to access, correct, or delete the personal information we hold about you. You can also object to the processing of your personal information or request that we restrict the processing of your data.

    Changes to This Policy
    We may update this privacy policy from time to time. If we make significant changes to this policy, we will notify you by email or by posting a notice on our website.

    If you have any questions or concerns about this privacy policy, please contact us at privacy@bookzone.com.
</p>
